@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
}

.purchase-item__block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	width: 400px;
	height: 70px;
}

.id {
	display: grid;
	gap: s.space(2);
}