{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section>
    <h1 class='title'>Створення товару</h1>
    <div class='goods'>
      <h3 class='info__goods'>Інформація про товар</h3>
      <p class='name__goods'>Назва товару</p>
      <p class='name__goods'>Ціна</p>

    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}