{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
	<section class='purchase-change'>
		<a href='/purchase-change?id={id}}'>
			{{>heading title="Зміна даних"}}
			<div class='purchase-item'>
				<div class='purchase-item__block'>
					<span class='title'>ID: {{id}}</span>
				</div>

				{{>field label="Прізвище:" name="lastname"}}

				{{>field label="Ім'я:" name="firstname"}}

				{{>field label="Електронна пошта:" name="email"}}

				{{>field label="Телефон:" name="phone"}}
			</div>
		</a>
		{{>button text="Змінити дані"}}
	</section>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}